html {
    background: #3E4C59;
    color: #F5F7FA;
}
body {
    height: 100vh;
    margin: 0;
}
button {
    cursor: pointer;
    background: #CBD2D9;
    border-radius: 5px;
}
button:hover {
    background: #E4E7EB;
}

/* Color bars */
.meter {
    position: relative;
    background: #616E7C;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
    display: flex;
    align-items: center;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.healthBar {
    background-color: #f0a3a3;
    background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}
.manaBar {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}
.movesBar {
    background-color: rgb(43,194,83);
    background-image: linear-gradient(to bottom,rgb(43,194,83) 37%,rgb(84,240,84) 69%);
}
.enemyBar {
    background-color: #efd300;
    background-image: linear-gradient(to bottom, #efd300, #ceb600);
}