html {
    background: #3E4C59;
    color: #F5F7FA;
}
body {
    height: 100vh;
    margin: 0;
}
button {
    outline: none;
    cursor: pointer;
    background: #CBD2D9;
    border-radius: 5px;
}
button:hover {
    background: #E4E7EB;
}